# In case you copy a config in locally.
/motifini.conf

# These are all built by the Makefile.
# Binaries, Packages, Formula, Manual
/motifini
/motifini*.gz
/motifini*.zip
/motifini*.1
/motifini*.deb
/motifini*.rpm
/motifini.*.arm
/motifini.exe
/motifini.*.macos
/motifini.*.linux
/motifini.rb

# Random things the Makefile creates.
*.sha256
/vendor
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/motifini_manual.html
/homebrew_release_repo
/.metadata.make
/.secret-files.tar
/bitly_token
/github_deploy_key

# extra junk
.DS_Store
*~
